<!DOCTYPE html>
<html style="height:100%">
    <head>
        <link rel="stylesheet" type="text/css" href="static/test.css">
        <title>
            Chat with the heart
        </title>
    </head>
    <body style="text-align: center; border:solid; height:80%;margin:50px;background-image:url(https://media.giphy.com/media/3odxXG6oUNRVhsdcLK/giphy.gif); background-repeat: no-repeat; background-position:right bottom;">
        <div style="margin:18%;vertical-align:middle">
        <h1>
            Chat with the heart
        </h1>
        <p>
            Hurray to sentimentalisms<br>
            <form action="/user/create">
                <input type="submit" value="Create User" style="background-color:pink;padding:15px; margin:10px" />
            </form>
            <form action="/user/login">
                <input type="submit" value="Log In" style="background-color:pink;padding:15px;margin:10px" />
            </form>
        </p>
        </div>
    </body>
</html>