<!DOCTYPE html>
<html style="height:100%">
    <head>
        <link rel="stylesheet" type="text/css" href="static/test.css">
        <title>
            Chat with the heart
        </title>
    </head>
    <body style="text-align: center; border:solid; height:80%;margin:50px;background-image:url(https://media.giphy.com/media/3og0IMVPaqrnGfBnZm/giphy.gif); background-repeat: no-repeat; background-position:center;">
        <div style="margin:18%;vertical-align:middle">
        <h2>
            Log In!
        </h2>
        <p>
            <form action="/who" method="post">
                Username: <br>
                <input type="text" name="first_name" style="margin:10px;padding:5px">  <br />
                <input type="submit" name= "form" value="Enter" style="background-color:pink;padding:10px;margin:5px" />
            </form>
            <form action="/">
                <input type="submit" value="Home" style = "background-color:pink;padding:10px;margin:5px"/>
            </form>
        </p>
        </div>
    </body>
</html>