<!DOCTYPE html>
<html style="height:100%">
    <head>
        <link rel="stylesheet" type="text/css" href="static/test.css">
        <title>
            Chat with the heart
        </title>
    </head>
    <body style="text-align: center; border:solid; height:80%;margin:50px;">
        <div style="margin:18%;vertical-align:middle">
        <h2>
            Create User
        </h2>
        <p>
            All the messages you write in this chat will
            be subdued to exhaustive analysis:<br>
            <form action="/who" method="post">
                Username: <br>
                <input type="text" name="first_name" style="margin:10px">  <br />
                <input type="submit" name= "form" value="Create" style="background-color:pink;padding:10px;margin:10px" />
            </form>
            <form action="/">
                <input type="submit" value="Home" style = "background-color:pink;padding:10px"/>
            </form>
        </p>
        </div>
    </body>
</html>